<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main>
        <div class="mainLeft">
            <div>

                <h1>facebook</h1>
                <p>Connect with friends and the world around you on Facebook.</p>  
            </div>
        </div>
        <div class="mainRight">
            <form action="#">
                <input type="text" class="id" value=""placeholder="Email or phone number" autocomplete="off">
                <input type="password" class="password"value=""placeholder="Password" autocomplete="off">
                <button class="login">Log In</button>
                <p><a href="#">Forget password</a></p>
                <hr>
                <button class="create">Create new account</button>
            </form>
            <p class="createPage"><a href="">Create a Page </a>for a celebrity, brand or business.</p>
        </div>
    </main>
    <script src="main.js"></script>
</body>
</html>